:root{
    --text-color: black;
    --link-color: pink;
    --background-color: white;
    --button-color: black;
}
* {
  -webkit-tap-highlight-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}

a{
  text-decoration: none; 
  color: var(--text-color); 
}

a:hover{
    color: var(--link-color);
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}
textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #555;
  resize: none; /* чтобы нельзя было растягивать */
  font-family: inherit;
  font-size: 16px;
}

textarea:focus {
  outline: none;
  border-bottom: 1px solid #555;
}


header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    margin: 20px 70px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
   padding: 10px;
   padding-left: 0px;
    padding-right: 0px;
}

nav li{
    height: 50px;
}

nav a{
    display: flex;
    align-items: center;
    padding: 0 30px;
}

/* nav li:first-child{
    margin-right: auto;
} */

.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-bar li{
    width: 100%;
}
.side-bar a{
    width: 100%;
}
.menu-btn{
    display: none;
}

.greeting{
    display: flex;
    flex-direction: column;
    
}

.greet-set{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    height: 90vh;
}


.greeting-pic{
    height: 500px;
    margin-top: 10px; 
    
}

.greeting-text{
    font-size: 100px;
   
}



.site_desc{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

/* 
.desc-text{
    text-align: center;
    margin: 50px;
    font-weight: 450;
    font-size: 20px;
} */

.desc-img1, .desc-img4{
    height: 200px;
    transition: transform 0.3s ease-in-out; /* Плавный переход */
}
.desc-img2, .desc-img3, .desc-img5{
    height: 300px;
    transition: transform 0.3s ease-in-out; /* Плавный переход */
}
.desc-img1:hover, .desc-img2:hover, .desc-img3:hover, .desc-img4:hover, .desc-img5:hover{
   transform: translateY(-40px); /* Сместить на 10px вверх */  }

.desc-img1{
    transform: rotate(-6deg);
}
.desc-img2{
    transform: rotate(7deg);
}
.desc-img3{
    transform: rotate(-6deg);
}
.desc-img4{
    transform: rotate(4deg);
    transition: transform 0.3s ease-in-out; /* Плавный переход */
}

.wrapped{
    font-size: 30px;
    font-weight: 400;
}

.desc-year{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.white-line{
   height: 100px;
   width: 100%;
   background-color: white;
   margin-top: -30px;
    position: relative; /* Добавляем для большей предсказуемости */
  z-index: 1; /* Чтобы быть поверх, если нужно */
}

/* .real-desc{
    font-size: 24px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
} */
 .surv-text{
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 50px;
 }

.survey{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.survey-questions{
    width: 30%;
    display: flex;
    flex-direction: column;
   justify-content: center;
    
}

textarea{
    font-size: 16px;
}

.name, .age, .films, .sad-film, .shows, .artists, .songs, .line, .crash, .books, .meme, .cofee, .place, .sweet, .thought, .hobby, .throw, .happy, .sad, .moment, .friends, 
.sleep, .hero, .infp, .spowers, .dish{
    display: flex;
    flex-direction: column;
}

input[type=text] {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #555;


}

input[type=text]:focus {
    border: none;
    border-bottom: 1px solid #555;
    outline: none;
}

button{
    align-self: center;
    border-radius: 20px;
    font-size: 16px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    width: 130px;
    height: 35px;
    border: none;
    margin-top: 50px;
}
button:hover{
    background-color: var(--link-color);
    color: var(--text-color);
}

.previous{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 50px;
    gap: 100px;
}
.previous-text{
    text-align: left;
    font-weight: 400;
    font-size: 25px;
}

.prev-t{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.prev-pic{
    height: 600px;
}

.contacts{
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.links{
    display: flex;
    flex-direction: column;
}
.attention{
width: 100%;
}


.prev-but{
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 160px;
    border: none;
    font-size: 16px;
    background-color: var(--button-color);
    color: white;
    font-weight: 500;

}
.prev-but:hover{
    background-color: var(--link-color);
    color: black;
}

.prev-l{
    color: pink;
}

.prev-l:hover{
    color: black;
}


.by{
    font-weight: 400;
}






@media(max-width: 1200px) {
    .greeting-text{
        font-size: 80px;
    }
    .greet-set{
        gap: 50px;
    }
    .greeting-pic{
        height: 400px;
    }
    .desc-img1{
    display: none;
}
}

@media(max-width: 930px){
    .desc-img2{
    display: none;
}
}


@media(max-width: 800px){
    header{
    gap: 5px;
}
.greet-set{
    flex-direction: column;
    gap: 50px;
}
/* .greeting{
    height: 60vh;
} */
.greeting-pic{
    height: 300px;
}
.greeting-text{
    font-size: 70px;
}
.desc-img1, .desc-img2, .desc-img3{
    display: none;
}
/* .survey{
    margin: 5px;
} */
.survey-questions{
    width: 80%;
}
.previous{
    flex-direction: column-reverse;
    height: auto;
}
.prev-pic{
    height: 400px;
}

.hideOnMobile{
    display: none;
}
.menu-btn{
    display: block;
}

}






@media(max-width: 540px){
    header{
    gap: 7px;
     /* margin: 30px 20px; */

}
.greet-set{
    flex-direction: column;
    gap: 100px;
}
.greeting-pic{
    height: 280px;
}
.greeting-text{
    font-size: 50px;
}
.contacts{
    gap: 50px;
}
.desc-img1, .desc-img2, .desc-img3, .desc-img4{
    display: none;
}
/* .desc-img5{
    transform: rotate(7deg);
} */
.side-bar{
    width: 100%;
}

.desc-img1, .desc-img2, .desc-img3, .desc-img4, .desc-img5{
    display: block;
}

.mobile-stack {
        position: relative;
        width: 250px;
        height: 350px;
        margin: 0 auto;
    }

    .mobile-stack img {
        position: absolute;
        left: 0;
        top: 0;
        width: 250px;
        height: 350px;
        object-fit: cover;
        cursor: pointer;
        object-fit: contain;

        /* Плавная анимация */
        transition: transform 0.4s ease, opacity 0.3s;
    }

    /* Разные наклоны — как у тебя */
    .mobile-stack img:nth-child(1) { transform: rotate(-6deg); }
    .mobile-stack img:nth-child(2) { transform: rotate(7deg); }
    .mobile-stack img:nth-child(3) { transform: rotate(-4deg); }
    .mobile-stack img:nth-child(4) { transform: rotate(5deg); }
    .mobile-stack img:nth-child(5) { transform: rotate(-3deg); }


}






@media(max-width: 380px){
    header{
    gap: 5px;
     margin: 10px 10px;
}

.survey-questions{
    width: 96%;
}
.greet-set{
    flex-direction: column;
    gap: 100px;
}
.greeting-pic{
    height: 210px;
}
.greeting-text{
    font-size: 40px;
}
.greeting{
    height: 100vh;
}
.contacts{
    gap: 50px;
}
.des{
    display: none;
}

.cont{
    display: none;
}
.survey{
    margin: 30px;
}
.desc-img1, .desc-img2, .desc-img3, .desc-img4, .desc-img5{
    display: block;
}



.mobile-stack {
        position: relative;
        width: 250px;
        height: 350px;
        margin: 0 auto;
    }

    .mobile-stack img {
        position: absolute;
        left: 0;
        top: 0;
        width: 250px;
        height: 350px;
        object-fit: cover;
        cursor: pointer;
        object-fit: contain;

        /* Плавная анимация */
        transition: transform 0.4s ease, opacity 0.3s;
    }

    /* Разные наклоны — как у тебя */
    .mobile-stack img:nth-child(1) { transform: rotate(-6deg); }
    .mobile-stack img:nth-child(2) { transform: rotate(7deg); }
    .mobile-stack img:nth-child(3) { transform: rotate(-4deg); }
    .mobile-stack img:nth-child(4) { transform: rotate(5deg); }
    .mobile-stack img:nth-child(5) { transform: rotate(-3deg); }


}