:root{
    --text-color: black;
    --link-color: pink;
    --background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}

a{
  text-decoration: none; 
  color: var(--text-color); 
}

a:hover{
    color: var(--link-color);
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}


header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    margin: 20px 70px;
   

}


.greeting{
    display: flex;
    flex-direction: column;
    
}

.greet-set{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    height: 90vh;
}


/* .greeting{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 300px;
} */
.greeting-pic{
    height: 500px;
    margin-top: 10px; 
    
}

.greeting-text{
    font-size: 100px;
    transition: transform 0.2s;
}

.greeting-text:hover{
    transform: scale(1.2);
}


.site_desc{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

/* 
.desc-text{
    text-align: center;
    margin: 50px;
    font-weight: 450;
    font-size: 20px;
} */

.desc-img1, .desc-img4{
    height: 200px;
    transition: transform 0.3s ease-in-out; /* Плавный переход */
}
.desc-img2, .desc-img3, .desc-img5{
    height: 300px;
    transition: transform 0.3s ease-in-out; /* Плавный переход */
}
.desc-img1:hover, .desc-img2:hover, .desc-img3:hover, .desc-img4:hover, .desc-img5:hover{
   transform: translateY(-40px); /* Сместить на 10px вверх */  }

.desc-img1{
    transform: rotate(-6deg);
}
.desc-img2{
    transform: rotate(7deg);
}
.desc-img3{
    transform: rotate(-6deg);
}
.desc-img4{
    transform: rotate(4deg);
    transition: transform 0.3s ease-in-out; /* Плавный переход */
}

.wrapped{
    font-size: 30px;
    font-weight: 400;
}

.desc-year{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.white-line{
   height: 100px;
   width: 100%;
   background-color: white;
   margin-top: -30px;
    position: relative; /* Добавляем для большей предсказуемости */
  z-index: 1; /* Чтобы быть поверх, если нужно */
}

/* .real-desc{
    font-size: 24px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
} */
 .surv-text{
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 50px;
 }

.survey{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name, .age, .films, .sad-film, .shows, .artists, .songs, .line, .crash, .books, .meme, .cofee, .place, .sweet, .thought, .hobby, .throw, .happy, .sad, .moment, .friends, 
.sleep, .hero, .infp{
    display: flex;
    flex-direction: column;
}

input[type=text] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #555;


}

input[type=text]:focus {
    border: none;
    border-bottom: 1px solid #555;
    outline: none;
}
/* 
input[type=number] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  background-clip: padding-box;
  border: none;
   border-bottom: 1px solid #555;
  
}

input[type=number]:focus {
  border: 1px solid #555;
   border-bottom: 1px solid #555;
    outline: none;
} */

.previous{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 50px;
}
.previous-text{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

.contacts{
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.links{
    display: flex;
    flex-direction: column;
}
.attention{
width: 350px;
}

button{
    height: 30px;
    width: 100px;
    margin: 20px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #555;
}

@media(max-width: 768px){
    header{
    gap: 10px;
}
.greet-set{
    flex-direction: column;
    gap: 50px;
}
/* .greeting{
    height: 60vh;
} */
.greeting-pic{
    height: 300px;
}
.greeting-text{
    font-size: 70px;
}
.desc-img1, .desc-img2, .desc-img3{
    display: none;
}

}

@media(max-width: 540px){
    header{
    gap: 10px;
     margin: 30px 20px;

}
.greet-set{
    flex-direction: column;
    gap: 100px;
}
.greeting-pic{
    height: 280px;
}
.greeting-text{
    font-size: 50px;
}
.contacts{
    gap: 50px;
}
.desc-img1, .desc-img2, .desc-img3, .desc-img4{
    display: none;
}
.desc-img5{
    transform: rotate(7deg);
}
}

@media(max-width: 380px){
    header{
    gap: 5px;
     margin: 10px 10px;
}
.greet-set{
    flex-direction: column;
    gap: 100px;
}
.greeting-pic{
    height: 210px;
}
.greeting-text{
    font-size: 40px;
}
.greeting{
    height: 100vh;
}
.contacts{
    gap: 50px;
}
.des{
    display: none;
}

.cont{
    display: none;
}
.survey{
    margin: 30px;
}

}